.kt-error-v4 {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .kt-error-v4 .kt-error_container .kt-error_number {
    font-size: 15.7rem;
    margin-right: 14.3rem;
    margin-top: 11.4rem;
    font-weight: 700;
    color: #84D49E; }
  .kt-error-v4 .kt-error_container .kt-error_title {
    margin: -70px 14.3rem 2% 0;
    font-size: 10rem;
    font-weight: 700;
    color: #84D49E; }
  .kt-error-v4 .kt-error_container .kt-error_description {
    margin-right: 15rem;
    font-size: 2.5rem;
    margin: -70px 14.8rem 2% 0;
    font-weight: 700;
    color: #CC6622; }

@media (min-width: 769px) and (max-width: 1024px) {
  .kt-error-v4 .kt-error_container .kt-error_number {
    font-size: 12rem;
    margin-right: 7rem;
    margin-top: 8rem;
    font-weight: 700; }
  .kt-error-v4 .kt-error_container .kt-error_title {
    margin: -40px 7rem 2% 0;
    font-size: 7rem;
    font-weight: 700; }
  .kt-error-v4 .kt-error_container .kt-error_description {
    margin-right: 15rem;
    font-size: 2rem;
    margin: -40px 7.3rem 2% 0;
    font-weight: 700; } }

@media (max-width: 768px) {
  .kt-error-v4 .kt-error_container {
    text-align: center; }
    .kt-error-v4 .kt-error_container .kt-error_number {
      font-size: 9rem;
      margin: 4rem auto 0 auto; }
    .kt-error-v4 .kt-error_container .kt-error_title {
      margin: 0.3rem auto;
      text-align: center;
      font-size: 5rem; }
    .kt-error-v4 .kt-error_container .kt-error_description {
      text-align: center;
      font-size: 2rem;
      margin: 0.3rem auto;
      padding: 0  0.5rem 0 0.5rem; } }
