@font-face {
    font-family: "sans";
    src: url("../../fonts/TheSansArab/TheSansArab-Light.woff2") format("woff2"),
    url("../../fonts/TheSansArab/TheSansArab-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "sans";
    src: url("../../fonts/TheSansArab/TheSansArab-Plain.woff2") format("woff2"),
    url("../../fonts/TheSansArab/TheSansArab-Plain.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "sans";
    src: url("../../fonts/TheSansArab/TheSansArab-SemiBold.woff2") format("woff2"),
    url("../../fonts/TheSansArab/TheSansArab-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "sans";
    src: url("../../fonts/TheSansArab/TheSansArab-Bold.woff2") format("woff2"),
    url("../../fonts/TheSansArab/TheSansArab-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "sans";
    src: url("../../fonts/TheSansArab/TheSansArab-ExtraBold.woff2") format("woff2"),
    url("../../fonts/TheSansArab/TheSansArab-ExtraBold.woff") format("woff");
    font-style: normal;
    font-weight: 900;
}

body {
    font-family: 'Cairo','sans';
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extrabold {
    font-weight: 900;
}
.dt-print-view{
    direction: rtl;
    background-color: #fff;
}
.dt-print-view th{
    background-color: #ccc !important;
}
.dataTables_wrapper{
    width: 100%;
}

/*@font-face {*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*    src: url('../../fonts/VIPHakm/VIPHakmBold-VIPHakm.eot?#iefix') format('embedded-opentype'),  url('../../fonts/VIPHakm/VIPHakmBold-VIPHakm.woff') format('woff'), url('../../fonts/VIPHakm/VIPHakmBold-VIPHakm.ttf')  format('truetype'), url('../../fonts/VIPHakm/VIPHakmBold-VIPHakm.svg#VIPHakmBold-VIPHakm') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

/*body {*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/
/*.page-title*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/
/*.dropdown-menu li > a*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/
/*h1, h2, h3, h4, h5, h6*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/
/*.label*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/

/*.m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier .m-login__form .m-login__form-action .btn*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/

/*.m-login.m-login--5 .m-login__wrapper-2 .m-login__contanier .m-login__form .m-form__group .form-control*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/

/*.btn:not(:disabled):not(.disabled)*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/

/*.m-subheader .m-subheader__title.m-subheader__title--separator*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/

/*.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/

/*.save, .tooltip, .form-control.m-input--air, .form-control[readonly], .form-control*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/

/*.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text*/
/*{*/
/*    font-family: 'VIPHakmBold-VIPHakm';*/
/*}*/

.media-item{
    margin: 10px;
    position: relative;
    width: 100%;
    max-height: 60px;
    display: flex;
    border: 1px solid #ccc;
    align-items: center;
}
.media-item img{
    max-height: 60px;
}

.media-item a.remove{
    background: #d90000;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}
.media-item .img{
    flex: 0 0 200px;
    border: 2px solid transparent;
    cursor: pointer;
    margin-left: 30px;
}
.media-item.cover img{
    border: 2px solid #f00;
}
